---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'span'>;

const { class: className, ...props } = Astro.props;
---

<span class:list={['tag', className]} {...props}>
	<slot />
</span>
